{% include 'main.html' %}
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for el in empresas %}
     
        <tr>
          <th scope="row">{{el[0]}}</th>
          <td><a href='/empresa/{{el[0]}}'>{{el[1]}}</a></td>
          {% if el[2]|string|length %}
          <td>R${{ el[2]|round(2)|string| replace(".",",") }}</td>
          {% elif el[2] == None %}
          <td>R$0,00</td>
          {% endif %}
       </tr>
      {% endfor %}
    </tbody>
  </table>


</div>